
   
   /* Fade-in animation with slight horizontal translation (optional, adjust as needed) */
.fade-in {
    opacity: 1;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  